 <!------------FOOTER------------>
<footer class="footer" id="footer">
    <article class="divider">
      <a href="#">A INICIO</a>
      <div>
        <a href="https://facebook.com" class="alinks"><i class='bx bxl-meta icons'></i></a>
        <a href="https://github.com" class="alinks"><i class='bx bxl-github icons'></i></a>
        <a href="https://linkedin.com" class="alinks"><i class='bx bxl-linkedin icons'></i></a>
      </div>
      <h3><b>@2022 Consultoría Informática Bariloche</b>/ Todos los derechos reservados.</h3>
    </article>
</footer>